# Ispezione Dataset Airbnb Napoli
Questo notebook analizza il file `raw_Airbnb_Napoli.csv` concentrandosi sulla qualità dei dati e sulle caratteristiche principali det dataset.

In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Caricamento del Dataset

In [58]:
try:
    df = pd.read_csv('csv/raw_Airbnb_Napoli.csv')
    print('Dataset caricato con successo!')
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_rows', None)
except FileNotFoundError:
    print('Errore: Il file raw_Airbnb_Napoli.csv non è stato trovato.')

Dataset caricato con successo!

## Panoramica Strutturale
Verifichiamo i tipi di dato e le dimensioni del dataframe.

In [59]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10972 entries, 0 to 10971
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            10972 non-null  int64
 1   listing_url                                   10972 non-null  str
 2   scrape_id                                     10972 non-null  int64
 3   last_scraped                                  10972 non-null  str
 4   source                                        10972 non-null  str
 5   name                                          10972 non-null  str
 6   description                                   10759 non-null  str
 7   neighborhood_overview                         4596 non-null   str
 8   picture_url                                   10972 non-null  str
 9   host_id                                       10972 non-null  int64
 10  host_url                                      10972 non-null  str
 11  host_name                                     10967 non-null  str
 12  host_since                                    10967 non-null  str
 13  host_location                                 7166 non-null   str
 14  host_about                                    4059 non-null   str
 15  host_response_time                            8293 non-null   str
 16  host_response_rate                            8293 non-null   str
 17  host_acceptance_rate                          9489 non-null   str
 18  host_is_superhost                             10659 non-null  str
 19  host_thumbnail_url                            10967 non-null  str
 20  host_picture_url                              10967 non-null  str
 21  host_neighbourhood                            173 non-null    str
 22  host_listings_count                           10967 non-null  float64
 23  host_total_listings_count                     10967 non-null  float64
 24  host_verifications                            10967 non-null  str
 25  host_has_profile_pic                          10967 non-null  str
 26  host_identity_verified                        10967 non-null  str
 27  neighbourhood                                 4596 non-null   str
 28  neighbourhood_cleansed                        10972 non-null  str
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      10972 non-null  float64
 31  longitude                                     10972 non-null  float64
 32  property_type                                 10972 non-null  str
 33  room_type                                     10972 non-null  str
 34  accommodates                                  10972 non-null  int64
 35  bathrooms                                     9822 non-null   float64
 36  bathrooms_text                                10957 non-null  str
 37  bedrooms                                      10736 non-null  float64
 38  beds                                          9820 non-null   float64
 39  amenities                                     10972 non-null  str
 40  price                                         9829 non-null   str
 41  minimum_nights                                10972 non-null  int64
 42  maximum_nights                                10972 non-null  int64
 43  minimum_minimum_nights                        10971 non-null  float64
 44  maximum_minimum_nights                        10971 non-null  float64
 45  minimum_maximum_nights                        10971 non-null  float64
 46  maximum_maximum_nights                        10971 non-null  float64
 47  minimum_nights_avg_ntm                        10972 non-null  float64
 48  maximum_nights_avg_ntm                        10972 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              10820 non-null  str
 51  availability_30                               10972 non-null  int64
 52  availability_60                               10972 non-null  int64
 53  availability_90                               10972 non-null  int64
 54  availability_365                              10972 non-null  int64
 55  calendar_last_scraped                         10972 non-null  str
 56  number_of_reviews                             10972 non-null  int64
 57  number_of_reviews_ltm                         10972 non-null  int64
 58  number_of_reviews_l30d                        10972 non-null  int64
 59  availability_eoy                              10972 non-null  int64
 60  number_of_reviews_ly                          10972 non-null  int64
 61  estimated_occupancy_l365d                     10972 non-null  int64
 62  estimated_revenue_l365d                       9829 non-null   float64
 63  first_review                                  8452 non-null   str
 64  last_review                                   8452 non-null   str
 65  review_scores_rating                          8452 non-null   float64
 66  review_scores_accuracy                        8451 non-null   float64
 67  review_scores_cleanliness                     8451 non-null   float64
 68  review_scores_checkin                         8451 non-null   float64
 69  review_scores_communication                   8452 non-null   float64
 70  review_scores_location                        8451 non-null   float64
 71  review_scores_value                           8452 non-null   float64
 72  license                                       9708 non-null   str
 73  instant_bookable                              10972 non-null  str
 74  calculated_host_listings_count                10972 non-null  int64
 75  calculated_host_listings_count_entire_homes   10972 non-null  int64
 76  calculated_host_listings_count_private_rooms  10972 non-null  int64
 77  calculated_host_listings_count_shared_rooms   10972 non-null  int64
 78  reviews_per_month                             8452 non-null   float64
dtypes: float64(24), int64(20), str(35)
memory usage: 6.6 MB

## Analisi dei Dati Mancanti
Calcolo il numero totale e la percentuale di valori nulli per ogni colonna.

In [ ]:
missing = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df)) * 100

missing_df = pd.DataFrame({
    'Missing Values': missing,
    'Percentage': missing_percent
})

missing_df = missing_df[missing_df['Missing Values'] > 0].sort_values(by='Percentage', ascending=False)
display(missing_df)

                              Missing Values  Percentage
neighbourhood_group_cleansed           10972  100.000000
calendar_updated                       10972  100.000000
host_neighbourhood                     10799   98.423259
host_about                              6913   63.005833
neighborhood_overview                   6376   58.111557
neighbourhood                           6376   58.111557
host_location                           3806   34.688297
host_response_time                      2679   24.416697
host_response_rate                      2679   24.416697
review_scores_checkin                   2521   22.976668
review_scores_location                  2521   22.976668
review_scores_cleanliness               2521   22.976668
review_scores_accuracy                  2521   22.976668
review_scores_rating                    2520   22.967554
first_review                            2520   22.967554
last_review                             2520   22.967554
reviews_per_month                       2520   22.967554
review_scores_communication             2520   22.967554
review_scores_value                     2520   22.967554
host_acceptance_rate                    1483   13.516223
license                                 1264   11.520233
beds                                    1152   10.499453
bathrooms                               1150   10.481225
price                                   1143   10.417426
estimated_revenue_l365d                 1143   10.417426
host_is_superhost                        313    2.852716
bedrooms                                 236    2.150930
description                              213    1.941305
has_availability                         152    1.385345
bathrooms_text                            15    0.136712
host_identity_verified                     5    0.045571
host_has_profile_pic                       5    0.045571
host_verifications                         5    0.045571
host_total_listings_count                  5    0.045571
host_listings_count                        5    0.045571
host_picture_url                           5    0.045571
host_thumbnail_url                         5    0.045571
host_since                                 5    0.045571
host_name                                  5    0.045571
maximum_maximum_nights                     1    0.009114
minimum_maximum_nights                     1    0.009114
maximum_minimum_nights                     1    0.009114
minimum_minimum_nights                     1    0.009114

## Conteggio valori unici
Per le variabili categoriche, vado a vedere quali sono le diverse categorie e quanti record sono presenti per categoria

In [61]:
if 'host_response_time' in df.columns:
    print('Conteggio valori unici per Host Response Time:')
    print(df['host_response_time'].value_counts(dropna=False))
    
else:
    print('La colonna host_response_time non è presente nel dataset.')

Conteggio valori unici per Host Response Time:
host_response_time
within an hour        7109
NaN                   2679
within a few hours     635
within a day           367
a few days or more     182
Name: count, dtype: int64

In [62]:
if 'room_type' in df.columns:
    print('Conteggio valori unici per Room Type:')
    print(df['room_type'].value_counts(dropna=False))
    
else:
    print('La colonna room_type non è presente nel dataset.')

Conteggio valori unici per Room Type:
room_type
Entire home/apt    6784
Private room       4028
Hotel room          113
Shared room          47
Name: count, dtype: int64

In [ ]:
if 'neighbourhood_cleansed' in df.columns:
    print('Conteggio valori unici per Neighbourhood Cleansed:')
    print(df['neighbourhood_cleansed'].value_counts(dropna=False))
    
else:
    print('La colonna neighbourhood_cleansed non è presente nel dataset.')

Conteggio valori unici per Room Type:
neighbourhood_cleansed
San Lorenzo                2038
Pendino                    1049
San Ferdinando              994
Montecalvario               850
Chiaia                      837
Avvocata                    685
San Giuseppe                635
Porto                       628
Stella                      554
San Carlo all'Arena         477
Vomero                      436
Vicaria                     359
Fuorigrotta                 221
Zona Industriale            211
Arenella                    210
Mercato                     203
Posillipo                   163
Poggioreale                  92
Bagnoli                      78
Secondigliano                56
San Giovanni a Teduccio      44
Ponticelli                   31
San Pietro a Patierno        29
Chiaiano                     19
Piscinola                    19
Barra                        18
Soccavo                      17
Pianura                      10
Miano                         6
Scampia                       3
Name: count, dtype: int64

## Valori massimi
Calcolo il numero di record con prezzo maggiore

In [ ]:
df['price_numeric'] = df['price'].replace(r'[^\d.]', '', regex=True).astype(float)

outliers_estremi = df[df['price_numeric'] > 1000] # Prezzo maggiore di x (in questo caso 1000)

count = len(outliers_estremi)
print(f"Numero di record con prezzo superiore a 1000€: {count}")

Numero di record con prezzo superiore a 1000€: 77